{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <link rel="stylesheet" href="{% static 'new1.css' %}" >
        <script src="{% static 'new1.js' %}" ></script>
    </head>
    <body>
        <header>
            <h3>Weekend Quiz KPI</h3>
            <h4>with chart.js</h4>
        </header>
        <main>
            <canvas></canvas>
        </main>
        <footer>Coded by Gordon on 22-7-2019.</footer>
    </body>
</html>